.usercard
{
    display: inline-block;
    align-content: center;
    width: 18rem;

  padding: 5px;
    border: 2px 
}

.userDetails
{
  align-content: center;
  margin: 20px;
}

.userImg
{
  align-self: center;
width: 18rem;
height: 20rem;
}
